#comments
  h3 Comments
  br
  each cmt in idea.comments
    - var comment = cmt
    .comment.row
      .span1
        a(href="/profile/"+comment.user.username)
          if(req.user.github)
            img(src=comment.user.github.avatar_url, title=comment.user.name)
          else
            img(src=comment.user.twitter.profile_image_url, title=comment.user.name)
      .span7
        a(href="/profile/"+comment.user.username) #{comment.user.name} :&nbsp
        != stripScript(md.parse(comment.body))
        .date= formatDate(comment.date)

include form
