extends ../layouts/default

block main
  h1= user.name
  br
  p= user.github.bio

block content
  .row
    .span1.offset3
      img(src=user.github.avatar_url)
    .span4
      p
        i.icon-user
        &nbsp;
        a(href=user.github.html_url, target="_blank") github.com/#{user.username}
      //
        p email:
          a(href="mailto:"+user.email)= user.email
      //
        p profile url:
          a(href=user.github.html_url)= user.github.html_url
      p
        i.icon-briefcase
        &nbsp;
        b #{user.github.public_repos} repositories
      if (user.github.blog)
        a(href=user.github.blog)= user.github.blog

