extends ../layouts/default
- 
block main
  h1= user.name
  br
  if(user.github)
    p= user.github.bio
  else
    p= user.twitter.description
block content
  .row
    .span1.offset4
      if(user.github)
        img(src=user.github.avatar_url, width=60, height=60)
      else
        img(src=user.twitter.profile_image_url, width=60, height=60)
    .span4
      p
        i.icon-user
        &nbsp;
        if(user.github)
          a(href=user.github.html_url, target="_blank") github.com/#{user.username}
        else
          a(href="http://twitter.com/"+user.username, target="_blank") twitter.com/#{user.username}
        if(user.github)
          p profile url:
            a(href=user.github.html_url)= user.github.html_url 
      p
        i.icon-briefcase
        &nbsp;
        if(user.github)
          b #{user.github.public_repos} repositoriesblock main
        else
          if (user.twitter.url)
             b #{user.twitter.url} 